In [7]:
import pandas as pd
import numpy as np

In [8]:
data=pd.read_csv("C:/Users/ramya/Downloads/archive (1)/seattle-weather.csv")

In [9]:
data

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

In [10]:
y=data['weather']
y

0       drizzle
1          rain
2          rain
3          rain
4          rain
         ...
1456       rain
1457       rain
1458        fog
1459        sun
1460        sun
Name: weather, Length: 1461, dtype: object

In [12]:
x=data.drop('weather',axis=1)
x

            date  precipitation  temp_max  temp_min  wind
0     2012-01-01            0.0      12.8       5.0   4.7
1     2012-01-02           10.9      10.6       2.8   4.5
2     2012-01-03            0.8      11.7       7.2   2.3
3     2012-01-04           20.3      12.2       5.6   4.7
4     2012-01-05            1.3       8.9       2.8   6.1
...          ...            ...       ...       ...   ...
1456  2015-12-27            8.6       4.4       1.7   2.9
1457  2015-12-28            1.5       5.0       1.7   1.3
1458  2015-12-29            0.0       7.2       0.6   2.6
1459  2015-12-30            0.0       5.6      -1.0   3.4
1460  2015-12-31            0.0       5.6      -2.1   3.5

[1461 rows x 5 columns]

In [13]:
data.isnull().sum()

date             0
precipitation    0
temp_max         0
temp_min         0
wind             0
weather          0
dtype: int64

In [30]:
from sklearn.preprocessing import LabelEncoder
lb= LabelEncoder()
data['weather']=lb.fit_transform(data['weather'])
data['date']=lb.fit_transform(data['date'])

In [31]:
data

      date  precipitation  temp_max  temp_min  wind  weather
0        0            0.0      12.8       5.0   4.7        0
1        1           10.9      10.6       2.8   4.5        2
2        2            0.8      11.7       7.2   2.3        2
3        3           20.3      12.2       5.6   4.7        2
4        4            1.3       8.9       2.8   6.1        2
...    ...            ...       ...       ...   ...      ...
1456  1456            8.6       4.4       1.7   2.9        2
1457  1457            1.5       5.0       1.7   1.3        2
1458  1458            0.0       7.2       0.6   2.6        1
1459  1459            0.0       5.6      -1.0   3.4        4
1460  1460            0.0       5.6      -2.1   3.5        4

[1461 rows x 6 columns]

In [32]:
x=data.drop('weather',axis=1)
x

      date  precipitation  temp_max  temp_min  wind
0        0            0.0      12.8       5.0   4.7
1        1           10.9      10.6       2.8   4.5
2        2            0.8      11.7       7.2   2.3
3        3           20.3      12.2       5.6   4.7
4        4            1.3       8.9       2.8   6.1
...    ...            ...       ...       ...   ...
1456  1456            8.6       4.4       1.7   2.9
1457  1457            1.5       5.0       1.7   1.3
1458  1458            0.0       7.2       0.6   2.6
1459  1459            0.0       5.6      -1.0   3.4
1460  1460            0.0       5.6      -2.1   3.5

[1461 rows x 5 columns]

In [33]:
y=data['weather']
y

0       0
1       2
2       2
3       2
4       2
       ..
1456    2
1457    2
1458    1
1459    4
1460    4
Name: weather, Length: 1461, dtype: int64

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [36]:
x_train

      date  precipitation  temp_max  temp_min  wind
1452  1452            6.1       5.0       2.8   7.6
762    762            2.0       7.8       2.8   0.8
932    932            0.0      23.9      13.3   2.2
435    435            1.3      10.6       6.1   1.1
629    629            0.0      21.1      13.3   2.5
...    ...            ...       ...       ...   ...
1130  1130            8.4      10.6       4.4   1.7
1294  1294            0.0      33.3      17.8   3.4
860    860            0.5      15.6       7.2   2.1
1459  1459            0.0       5.6      -1.0   3.4
1126  1126            0.0       7.2       3.3   1.9

[1022 rows x 5 columns]

In [37]:
x_test

      date  precipitation  temp_max  temp_min  wind
892    892            0.0      23.9      11.1   2.7
1105  1105            5.8       7.8       6.1   0.5
413    413            0.0       9.4       4.4   3.4
522    522            0.0      26.7      12.2   2.5
1036  1036            1.8      13.3       7.2   2.9
...    ...            ...       ...       ...   ...
323    323           54.1      13.3       8.3   6.0
650    650            1.0      14.4       8.9   2.2
439    439            0.0      14.4       8.9   4.3
798    798            4.3      15.0       9.4   4.3
135    135            0.0      24.4       9.4   4.1

[439 rows x 5 columns]

In [38]:
y_train

1452    2
762     2
932     4
435     2
629     4
       ..
1130    2
1294    4
860     2
1459    4
1126    1
Name: weather, Length: 1022, dtype: int64

In [39]:
y_test

892     4
1105    2
413     2
522     4
1036    2
       ..
323     2
650     2
439     2
798     2
135     0
Name: weather, Length: 439, dtype: int64

In [40]:
from sklearn.tree import DecisionTreeClassifier

In [41]:
classifier=DecisionTreeClassifier(max_leaf_nodes=14,random_state=0)
classifier.fit(x_train,y_train)

DecisionTreeClassifier(max_leaf_nodes=14, random_state=0)

In [49]:
y_pred=classifier.predict(x_test)
y_pred

array([4, 2, 2, 4, 2, 2, 4, 1, 2, 4, 4, 4, 2, 4, 4, 2, 4, 1, 1, 4, 2, 4,
       2, 4, 4, 2, 0, 4, 0, 4, 2, 4, 1, 3, 4, 2, 2, 2, 2, 4, 2, 4, 1, 4,
       4, 2, 2, 4, 2, 4, 4, 2, 4, 2, 4, 2, 2, 4, 2, 4, 2, 1, 2, 4, 4, 4,
       2, 4, 2, 2, 2, 4, 0, 2, 2, 4, 2, 4, 2, 2, 2, 2, 2, 4, 2, 4, 4, 2,
       4, 2, 2, 4, 4, 2, 2, 4, 4, 2, 4, 2, 1, 4, 2, 3, 2, 4, 4, 2, 4, 2,
       2, 4, 2, 2, 0, 1, 4, 4, 4, 2, 2, 2, 2, 2, 2, 4, 4, 4, 4, 4, 4, 4,
       4, 4, 4, 4, 2, 2, 2, 4, 4, 4, 2, 2, 2, 1, 4, 2, 4, 4, 2, 4, 4, 4,
       2, 2, 1, 4, 2, 2, 4, 4, 2, 1, 4, 2, 2, 4, 4, 4, 2, 2, 4, 4, 2, 2,
       4, 4, 1, 2, 4, 4, 4, 2, 2, 4, 2, 2, 4, 4, 0, 4, 4, 2, 1, 4, 4, 2,
       2, 2, 2, 4, 0, 2, 4, 2, 2, 1, 3, 4, 2, 4, 4, 4, 4, 4, 4, 4, 2, 4,
       2, 4, 4, 4, 4, 2, 4, 2, 4, 3, 4, 2, 4, 4, 2, 2, 0, 4, 4, 4, 2, 2,
       4, 3, 1, 4, 0, 4, 2, 2, 2, 2, 2, 4, 4, 1, 2, 4, 2, 2, 2, 2, 4, 2,
       4, 4, 2, 1, 1, 4, 4, 4, 4, 2, 4, 4, 2, 2, 4, 1, 4, 2, 4, 4, 4, 4,
       2, 4, 1, 2, 4, 2, 4, 4, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4,
       4, 4, 2, 2, 2, 4, 2, 4, 4, 2, 4, 2, 2, 2, 2, 4, 4, 2, 2, 0, 4, 4,
       4, 2, 2, 2, 4, 4, 2, 2, 2, 2, 2, 4, 2, 2, 4, 2, 4, 4, 2, 2, 4, 4,
       1, 2, 4, 2, 4, 1, 1, 4, 1, 4, 4, 2, 2, 2, 4, 1, 4, 4, 2, 2, 2, 2,
       2, 0, 2, 2, 2, 4, 2, 4, 4, 4, 2, 2, 2, 4, 0, 2, 2, 4, 4, 4, 2, 4,
       4, 4, 2, 2, 2, 4, 4, 4, 4, 2, 1, 4, 4, 4, 4, 4, 4, 4, 4, 4, 2, 2,
       4, 4, 4, 4, 4, 2, 4, 2, 4, 4, 2, 4, 2, 4, 4, 0, 2, 2, 2, 2, 4],
      dtype=int64)

In [48]:
y_pred=classifier.predict([[0,0.0,12.8,5.0,4.7]])
y_pred

C:\ProgramData\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([4], dtype=int64)

In [51]:
from sklearn.metrics import accuracy_score
ac=accuracy_score(y_test,y_pred)
ac*100

83.82687927107062